.todo-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  min-height: 100vh;

  .add-todo-button {
    background: transparent;
    border: none;
    cursor: pointer;

    svg {
      margin: 0 5px;
    }
  }
}
